<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <a href="/authors">List of authors</a>
    <a href="/authors/new"> Create a new author </a>

    <a href="/books/new"> Create a new book </a>
    <a href="/books"> List of all books </a>

  </nav>
  
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>