<form action="/login" method="POST">
  <h2>Login</h2>
  <label for="username-input">Username</label>
  <input type="text" name="username" id="username-input">
  <label for="password-input">Password</label>
  <input type="password" name="password" id="password-input">
  <button>Login</button>

</form>