body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.card{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

