<h1>Signup For An Account</h1>



<form action="/signup" method="POST">


<label for="">Username</label>
<input type="text" name="theUsername">

<label for="">Password</label>
<input type="password" name="thePassword">

<button>Submit</button>



</form>