{{!-- this is without partials: --}}

{{!-- <div>
    {{#each beers}}
    <li> Name: {{ this.name }} 
        <br>
        Tagline: {{ this.tagline }}
        <br>
        <img src="{{ this.image_url }}" width="200" alt="">
    </li>
    {{/each}}
</div> --}}

{{!-- this is with using partials --}}
<div>
    {{#each beers}}
    {{> beerPartial this }}
    {{/each}}
</div>