<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- we don't have to use "public" as prefix because we have regestered it in the app.js
    as default folder for all static files -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h2>This is amazing about page!</h2>
    <a href="/"> go back to beginning</a>
    <a href="/homepage"> Go to home page</a>
</body>
</html>