<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Intro</title>
</head>
<body>
    <h2>Hello this is home page!</h2>
    <!-- we don't have to put '/public/images/name-opf-image.jpg' since public
    is already registered for all static files (stylesheets, images, etc.) -->
    <img src="/images/ironhack-logo-white.jpg" alt="ironhack logo">
    <a href="/"> Go Back </a>
</body>
</html>