

<h1>
{{theSingleMovie.title}}
</h1>



<h4>
Directoed By: {{theSingleMovie.director}}
</h4>


<img src="{{theSingleMovie.image}}" alt="" style="width: 300px">


<h2>Cast & Crew</h2>
{{#each theSingleMovie.cast}}

<div>
    {{this.name}}
</div>

{{/each}}