
<h2>Add a New Movie To the Database</h2>

<form action="/movies/creation" method="POST">

    <div>
        <label>Title</label>
        <input type="text" name="title">
    </div>

        <div>
        <label>Director</label>
        <input type="text" name="director">
        </div>

        <div>
        <label>Image</label>
        <input type="text" name="image">
        </div>

        {{#each allCelebs}}
        <div>
        <input style="margin: 10px" type="checkbox" value="{{this._id}}" name="cast">
        {{this.name}}
        </div>

    
       
        {{/each}}





        <button>Save</button>
</form>