{{#each allTheAlbums}}
    {{ this.name }}
    {{!-- to see the tracks we need to provide the ID in the URL so it gets picked up by req.params in the route --}}
    <a href="/tracks/{{ this.id }}">View tracks</a>
{{/each}}