{{!-- action = "/artists" => after submit go to this page --}}
<form action="/artists" method="get">

    <input type="text" name="theArtistName" id="" placeholder="Search artists here...">

    <button type="submit"> Find artists! </button>

</form>